{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Edit animal{% endblock %}

{% block content %}
<div class="row mb-3">
  <div style="top: -30px; background-color: skyblue;" class="col-sm-12">
      <h2 style="font-family: 'Cinzel', serif; font-size: 40px; margin-top: 7px;" class="text-center">Edit animal</h2>
  </div>
</div>
<div style="margin-left: 22%; margin-right: 22%;" class="row">
    <div class="container">
        <form method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
{% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}

                {% if form.is_bound %}
                  {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback">
                          {{ error }}
                      </div>
                    {% endfor %}
                  {% else %}
                    {% render_field field class="form-control is-valid" %}
                  {% endif %}
                {% else %}
                  {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}

            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-secondary" onclick="javascript:history.back();">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}