{% extends "base_generic.html" %}
{% block title %}Přidat zvíře{% endblock %}

{% block content %}
<div class="row mb-3">
    <div style="background-color: skyblue;" class="col-sm-12">
        <h2 class="text-center">Add animal</h2>
    </div>
</div>
<div style="margin-left: 40%;" class="row ">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}